.*.aux
.*.d
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.tmp
*.v.d
*.vio
*.vo
*.vok
*.vos
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache
*.DS_Store
Makefile.coq
Makefile.coq.conf
CoqMakefile
CoqMakefile.conf
main
.vscode/
_build/
result.html
*.code-workspace
/ignore
/tests/*.cpp
/tests/*.h
/tests/*.o
*.install
infer-out
*.pch
*.dSYM
*.bak

/tests/basics/top/benchmark
/tests/basics/top_bde/benchmark
*.exe
/tests/basics/tokenizer/corpus
/tests/basics/tokenizer/tokenizer.d.o.dSYM
/src/rust.ml
/src/rust.mli
